---
- name: Verify firewalld packages
  block:
    - name: Gather installed package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Assert firewalld package installed
      ansible.builtin.assert:
        that: "package in ansible_facts.packages"
        fail_msg: "'{{ package }}' package is not installed"
        success_msg: "'{{ package }}' package is installed"
      loop:
        - firewalld
      loop_control:
        loop_var: package
