---
- name: Install Docker required packages
  ansible.builtin.package:
    name:
      - gnupg
      - python3-debian
    state: present
  retries: 3
  delay: 10
  become: true

- name: Add Docker repository
  ansible.builtin.deb822_repository:
    name: docker
    types: deb
    uris: https://download.docker.com/linux/debian
    suites: "{{ ansible_distribution_release }}"
    components: stable
    architectures: "{{ system_architecture }}"
    signed_by: https://download.docker.com/linux/debian/gpg
    state: present
    enabled: true
  become: true

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
  retries: 3
  delay: 10
  become: true

- name: Install Docker distribution-specific packages
  ansible.builtin.package:
    name:
      - "{{ 'docker-ce' ~ (('=' ~ docker_version) if docker_version is defined else '') }}"
      - "{{ 'docker-ce-cli' ~ (('=' ~ docker_version) if docker_version is defined else '') }}"
    state: present
    force: true
  retries: 3
  delay: 10
  become: true
