---
- name: FS Role - files and directories management
  ansible.builtin.debug:
    msg:
      - "========================================="
      - "  FS: files and directories management"
      - "========================================="

- name: Include drives tasks
  ansible.builtin.include_tasks: "drives.yml"
  when: fs_drives | length > 0

- name: Include mount tasks
  ansible.builtin.include_tasks: "mount.yml"

- name: Include files tasks
  ansible.builtin.include_tasks: "files.yml"
  when: fs_files | length > 0
