---
- name: Verify mail packages installed
  block:
    - name: Gather installed package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: "Assert package installed"
      ansible.builtin.assert:
        that: "package in ansible_facts.packages"
        fail_msg: "'{{ package }}' package is not installed"
        success_msg: "'{{ package }}' package is installed"
      loop:
        - exim4
        - mailutils
      loop_control:
        loop_var: package

- name: Verify 99_exim4-config_rewrite_rules file attributes
  block:
    - name: Stat 99_exim4-config_rewrite_rules file
      ansible.builtin.stat:
        path: /etc/exim4/conf.d/rewrite/99_exim4-config_rewrite_rules
      register: mail_exim4_config_rewrite_rules_stat

    - name: Assert 99_exim4-config_rewrite_rules file exists
      ansible.builtin.assert:
        that: mail_exim4_config_rewrite_rules_stat.stat.exists
        fail_msg: "'99_exim4-config_rewrite_rules' file does not exist in '/etc/exim4/conf.d/rewrite'"
        success_msg: "'99_exim4-config_rewrite_rules' file exists in '/etc/exim4/conf.d/rewrite'"

    - name: Assert 99_exim4-config_rewrite_rules file is a regular file
      ansible.builtin.assert:
        that: mail_exim4_config_rewrite_rules_stat.stat.isreg
        fail_msg: "'99_exim4-config_rewrite_rules' file is not a regular file"
        success_msg: "'99_exim4-config_rewrite_rules' file is a regular file"

    - name: Assert 99_exim4-config_rewrite_rules file mode
      ansible.builtin.assert:
        that: mail_exim4_config_rewrite_rules_stat.stat.mode == '0644'
        fail_msg: >-
          '99_exim4-config_rewrite_rules' file has incorrect mode:
          {{ mail_exim4_config_rewrite_rules_stat.stat.mode }}
        success_msg: "'99_exim4-config_rewrite_rules' file has correct mode"

    - name: Assert 99_exim4-config_rewrite_rules file ownership
      ansible.builtin.assert:
        that:
          - mail_exim4_config_rewrite_rules_stat.stat.pw_name == 'root'
          - mail_exim4_config_rewrite_rules_stat.stat.gr_name == 'root'
        fail_msg: >-
          '99_exim4-config_rewrite_rules' file has incorrect ownership:
          {{ mail_exim4_config_rewrite_rules_stat.stat.pw_name }}:{{ mail_exim4_config_rewrite_rules_stat.stat.gr_name }}
        success_msg: "'99_exim4-config_rewrite_rules' file has correct ownership"

- name: Verify 99_exim4-config_rewrite_rules file content
  block:
    - name: Slurp 99_exim4-config_rewrite_rules file content
      ansible.builtin.slurp:
        src: /etc/exim4/conf.d/rewrite/99_exim4-config_rewrite_rules
      register: mail_exim4_config_rewrite_rules_content

    - name: Assert 99_exim4-config_rewrite_rules file has Unix line endings
      ansible.builtin.assert:
        that: "'\\r\\n' not in (mail_exim4_config_rewrite_rules_content.content | b64decode)"
        fail_msg: "'99_exim4-config_rewrite_rules' file has Windows line endings (CRLF)"
        success_msg: "'99_exim4-config_rewrite_rules' file has Unix line endings (LF)"

    - name: Assert 99_exim4-config_rewrite_rules file content
      ansible.builtin.assert:
        that: "mail_hostname in (mail_exim4_config_rewrite_rules_content.content | b64decode)"
        fail_msg: "'99_exim4-config_rewrite_rules' file does not contain expected SMTP server"
        success_msg: "'99_exim4-config_rewrite_rules' file contains expected SMTP server"

- name: Verify passwd.client file attributes
  block:
    - name: Stat passwd.client file
      ansible.builtin.stat:
        path: /etc/exim4/passwd.client
      register: passwd_client_file_stat

    - name: Assert passwd.client file exists
      ansible.builtin.assert:
        that: passwd_client_file_stat.stat.exists
        fail_msg: "'passwd.client' file does not exist in '/etc/exim4'"
        success_msg: "'passwd.client' file exists in '/etc/exim4'"

    - name: Assert passwd.client file is a regular file
      ansible.builtin.assert:
        that: passwd_client_file_stat.stat.isreg
        fail_msg: "'passwd.client' file is not a regular file"
        success_msg: "'passwd.client' file is a regular file"

    - name: Assert passwd.client file mode
      ansible.builtin.assert:
        that: passwd_client_file_stat.stat.mode == '0640'
        fail_msg: "'passwd.client' file has incorrect mode: {{ passwd_client_file_stat.stat.mode }}"
        success_msg: "'passwd.client' file has correct mode"

    - name: Assert passwd.client file ownership
      ansible.builtin.assert:
        that:
          - passwd_client_file_stat.stat.pw_name == 'root'
          - passwd_client_file_stat.stat.gr_name == 'Debian-exim'
        fail_msg: >-
          'passwd.client' file has incorrect ownership:
          {{ passwd_client_file_stat.stat.pw_name }}:{{ passwd_client_file_stat.stat.gr_name }}
        success_msg: "'passwd.client' file has correct ownership"

- name: Verify passwd.client file content
  block:
    - name: Slurp passwd.client file content
      ansible.builtin.slurp:
        src: /etc/exim4/passwd.client
      register: passwd_client_file_content

    - name: Assert passwd.client file has Unix line endings
      ansible.builtin.assert:
        that: "'\\r\\n' not in (passwd_client_file_content.content | b64decode)"
        fail_msg: "passwd.client file has Windows line endings (CRLF)"
        success_msg: "passwd.client file has Unix line endings (LF)"

    - name: Assert passwd.client file content
      ansible.builtin.assert:
        that: >-
          (mail_smtp_server ~ ':' ~ mail_smtp_username ~ ':' ~ mail_smtp_password) in
          (passwd_client_file_content.content | b64decode)
        fail_msg: "'passwd.client' file does not contain expected SMTP credentials"
        success_msg: "'passwd.client' file contains expected SMTP credentials"

- name: Verify update-exim4.conf.conf file attributes
  block:
    - name: Stat update-exim4.conf.conf file
      ansible.builtin.stat:
        path: /etc/exim4/update-exim4.conf.conf
      register: mail_update_exim4_conf_conf_stat

    - name: Assert update-exim4.conf.conf file exists
      ansible.builtin.assert:
        that: mail_update_exim4_conf_conf_stat.stat.exists
        fail_msg: "'update-exim4.conf.conf' file does not exist in '/etc/exim4'"
        success_msg: "'update-exim4.conf.conf' file exists in '/etc/exim4'"

    - name: Assert update-exim4.conf.conf file is a regular file
      ansible.builtin.assert:
        that: mail_update_exim4_conf_conf_stat.stat.isreg
        fail_msg: "'update-exim4.conf.conf' file is not a regular file"
        success_msg: "'update-exim4.conf.conf' file is a regular file"

    - name: Assert update-exim4.conf.conf file mode
      ansible.builtin.assert:
        that: mail_update_exim4_conf_conf_stat.stat.mode == '0644'
        fail_msg: >-
          'update-exim4.conf.conf' file has incorrect mode: {{ mail_update_exim4_conf_conf_stat.stat.mode }}
        success_msg: "'update-exim4.conf.conf' file has correct mode"

    - name: Assert update-exim4.conf.conf file ownership
      ansible.builtin.assert:
        that:
          - mail_update_exim4_conf_conf_stat.stat.pw_name == 'root'
          - mail_update_exim4_conf_conf_stat.stat.gr_name == 'root'
        fail_msg: >-
          'update-exim4.conf.conf' file has incorrect ownership:
          {{ mail_update_exim4_conf_conf_stat.stat.pw_name }}:{{ mail_update_exim4_conf_conf_stat.stat.gr_name }}
        success_msg: "'update-exim4.conf.conf' file has correct ownership"

- name: Verify update-exim4.conf.conf file content
  block:
    - name: Slurp update-exim4.conf.conf file content
      ansible.builtin.slurp:
        src: /etc/exim4/update-exim4.conf.conf
      register: mail_update_exim4_conf_conf_file_content

    - name: Assert update-exim4.conf.conf file has Unix line endings
      ansible.builtin.assert:
        that: "'\\r\\n' not in (mail_update_exim4_conf_conf_file_content.content | b64decode)"
        fail_msg: "'update-exim4.conf.conf' file has Windows line endings (CRLF)"
        success_msg: "'update-exim4.conf.conf' file has Unix line endings (LF)"

    - name: Assert update-exim4.conf.conf file contains SMTP server and port
      ansible.builtin.assert:
        that: >-
          "dc_smarthost='" ~ mail_smtp_server ~ "::" ~ mail_smtp_port ~ "'" in
          (mail_update_exim4_conf_conf_file_content.content | b64decode)
        fail_msg: "update-exim4.conf.conf file does not contain expected SMTP server and port"
        success_msg: "update-exim4.conf.conf file contains expected SMTP server and port"
